.idea/
**/__pycache__

# 忽略 DP 中的数据
/differential_privacy/dp_office_tutorial/pytorch/data

# federated learning 文件中的数据集
/federated_learning/paper_model/DPFL/FDP/config
/federated_learning/paper_model/DPFL/FedAvg/data
/federated_learning/paper_model/DPFL/FedAvg/pytorch/logs
/federated_learning/paper_model/DPFL/FedAvg/pytorch/save
/federated_learning/paper_model/DPFL/FLAME/data

#v python
/python/advance/smtp_u.py

# 忽略 pytorch 文件中的数据集
/pytorch/office_tutorial/data
/pytorch/office_tutorial/model